.search {
	display: flex;
	align-items: center;
	padding-left: 20px;
}

.inputCon {
	position: relative;
}

.inputCon > span {
	position: absolute;
	top: 8px;
	left: 6px;
}

.input {
	border: none;
	border-radius: 4px;
	height: 30px;
	// width: 170px;
	color: #fff;
	padding: 0 10px;
	text-indent: 16px;
	font-size: 16px;
	background-color: #20232a;
}

.input:focus {
	background-color: #373940;
}

.focused {
	width: 120px !important;
}

@media (min-width: 0px) and (max-width: 599px) {
	.input {
		width: 0px;
		transition: width 200ms linear;
	}
	.inputCon {
		min-width: 28px;
	}
}

@media (min-width: 1280px) {
}